{% extends 'web/base.html.twig' %}

{% form_theme form 'form.html.twig' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column one-half">

                {{ form_start(form) }}
                <fieldset>
                    <legend>{{ 'appearance'|trans }}</legend>

                    {{ form_row(form.locale) }}
                    {{ form_row(form.theme) }}
                    {{ form_row(form.timezone) }}

                    <div class="columns control">
                        <div class="column one-third">&nbsp;</div>
                        <div class="column two-thirds">
                            <input type="submit" value="{{ 'button.save'|trans }}">
                        </div>
                    </div>

                </fieldset>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
