<div class="grid-container grid-parent grid-row">

    <div class="grid-50">
        <fieldset>
            <legend>{{ 'groups'|trans }}</legend>
            <select id="group" size="20" class="grid-100 mobile-grid-100">
                <option value="{{ role.author }}" selected>{{ 'role.author'|trans }} ({{ 'role'|trans|lower }})</option>
                <option value="{{ role.responsible }}">{{ 'role.responsible'|trans }} ({{ 'role'|trans|lower }})</option>
                <option value="{{ role.registered }}">{{ 'role.registered'|trans }} ({{ 'role'|trans|lower }})</option>
                {% if locals|length > 0 %}
                    <option disabled></option>
                    {% for group in locals %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                {% endif %}
                {% if globals|length > 0 %}
                    <option disabled></option>
                    {% for group in globals %}
                        <option value="{{ group.id }}">{{ group.name }} ({{ 'group.global'|trans|lower }})</option>
                    {% endfor %}
                {% endif %}
            </select>
        </fieldset>
    </div>

    <div class="grid-50">
        <fieldset>
            <legend>{{ 'transitions'|trans }}</legend>
            {% for transition in transitions %}
                <div class="grid-100">
                    <input type="checkbox" id="transition-{{ transition.id }}" name="transitions[]" class="transitions" value="{{ transition.id }}">
                    <label for="transition-{{ transition.id }}">{{ transition.name }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <div class="grid-row">
            <button type="button" id="btn-save">{{ 'button.save'|trans }}</button>
            <button type="button" id="btn-select">{{ 'button.select_all'|trans }}</button>
        </div>
    </div>

</div>

<script>

    $(function() {

        // "Groups" list.
        $('#group').change(function() {
            var group = $(this).val();

            $.get('{{ path('admin_load_state_transitions', {'id': state.id}) }}/' + group, function(data) {
                $('input[type="checkbox"].transitions:not(:disabled)').prop('checked', false);
                for (var i = 0; i < data.length; i++) {
                    $('#transition-' + data[i]).prop('checked', true);
                }
            });
        }).change();

        // "Save" button.
        $('#btn-save').click(function() {
            var group = $('#group').val();
            var transitions = [];

            $('input[type="checkbox"].transitions:checked').each(function() {
                transitions.push($(this).val());
            });

            $.post('{{ path('admin_save_state_transitions', {'id': state.id}) }}/' + group, { transitions }, function() {
                eTraxis.alert('{{ 'transitions'|trans }}', '{{ 'changes.saved'|trans }}');
            });
        });

        // "Select all" button.
        $('#btn-select').click(function() {
            $('input[type="checkbox"].transitions:not(:disabled)').prop('checked', true);
        });
    });

</script>
