<div class="flex-container grid-row clearfix">

    <div class="grid-45">
        <fieldset>
            <legend>{{ 'others'|trans }}</legend>
            <select id="notResponsibleGroup" size="20" multiple title="{{ 'others'|trans }}" class="grid-100 mobile-grid-100">
                {% for group in state.notResponsibleGroups %}
                    {% if group.project %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% else %}
                        <option value="{{ group.id }}">{{ group.name }} ({{ 'group.global'|trans|lower }})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </fieldset>
    </div>

    <div class="grid-10 text-center">
        <button type="button" class="grid-100 grid-row" onclick="StatesApp.addGroups({{ state.id }})">
            <span class="hide-on-mobile fa fa-arrow-right"></span>
            <span class="hide-on-desktop fa fa-arrow-down"></span>
        </button>
        <button type="button" class="grid-100 grid-row" onclick="StatesApp.removeGroups({{ state.id }})">
            <span class="hide-on-mobile fa fa-arrow-left"></span>
            <span class="hide-on-desktop fa fa-arrow-up"></span>
        </button>
    </div>

    <div class="grid-45">
        <fieldset>
            <legend>{{ 'groups'|trans }}</legend>
            <select id="responsibleGroup" size="20" multiple title="{{ 'groups'|trans }}" class="grid-100 mobile-grid-100">
                {% for group in state.responsibleGroups %}
                    {% if group.project %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% else %}
                        <option value="{{ group.id }}">{{ group.name }} ({{ 'group.global'|trans|lower }})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </fieldset>
    </div>

</div>
