{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="grid-30 mobile-grid-100">
        <div class="grid-row mobile-grid-row panel" id="projects">
            <div class="panel-heading">
                <span class="ui-icon ui-icon-circle-plus" id="btn-new-project" title="{{ 'button.create'|trans }}"></span>
                <div>{{ 'projects'|trans }}</div>
            </div>
        </div>
    </div>

    <div class="grid-70 mobile-grid-100 grid-row mobile-grid-row">
        <div id="content"></div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        var $content  = $('#content');
        var $projects = $('#projects');

        // Loads panel of projects.
        function loadProjects(onLoad) {
            $projects.panel('clear');
            $.getJSON('{{ path('admin_projects_list') }}', function(data) {
                $(data).each(function(index, item) {
                    $projects.panel('append', item.id, item.name);
                });
                if (typeof onLoad === 'function') {
                    onLoad();
                }
            });
        }

        // Initialization.
        $(function() {

            // Project clicked.
            $projects.on('panel.item.click', function(e, data) {
                $content.load('{{ path('admin_view_project', {'id': 0}) }}' + data, function() {
                    $content.initUI();
                    $projects.panel('select', data);
                });
            });

            // Project edited.
            $(document).on('admin.project.edited', function(e, data) {
                loadProjects(function() {
                    $projects.panel('select', data);
                });
            });

            // Project deleted.
            $(document).on('admin.project.deleted', function() {
                loadProjects(function() {
                    $('a', $projects).first().click();
                });
            });

            // New project.
            $('#btn-new-project').click(function() {
                eTraxis.modal({
                    url: '{{ path('admin_dlg_new_project') }}',
                    title: '{{ 'project.new'|trans }}',
                    success: function() {
                        var name = $('#project_name').val();
                        loadProjects(function() {
                            $projects.panel('expand');
                            $projects.trigger('panel.item.click', $projects.panel('find', name));
                        });
                        return true;
                    }
                });
            });

            // First initialization of the page.
            loadProjects(function() {
                $('a', $projects).first().click();
            });
        });

    </script>

{% endblock %}
