{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="grid-30 mobile-grid-100">
        <div class="grid-row mobile-grid-row panel" id="projects">
            <div class="panel-heading">
                <span class="ui-icon ui-icon-circle-plus" onclick="ProjectsApp.create()" title="{{ 'button.create'|trans }}"></span>
                <div>{{ 'projects'|trans }}</div>
            </div>
        </div>
        <div class="grid-row mobile-grid-row panel" id="groups" data-sections="2">
            <div class="panel-heading">
                <span class="ui-icon ui-icon-circle-plus" onclick="GroupsApp.create()" title="{{ 'button.create'|trans }}"></span>
                <div>{{ 'groups'|trans }}</div>
            </div>
        </div>
        <div class="grid-row mobile-grid-row panel hidden" id="templates">
            <div class="panel-heading">
                <span class="ui-icon ui-icon-circle-plus" onclick="TemplatesApp.create()" title="{{ 'button.create'|trans }}"></span>
                <div>{{ 'templates'|trans }}</div>
            </div>
        </div>
        <div class="grid-row mobile-grid-row panel hidden" id="states" data-sections="3">
            <div class="panel-heading">
                <span class="ui-icon ui-icon-circle-plus" onclick="StatesApp.create()" title="{{ 'button.create'|trans }}"></span>
                <div>{{ 'states'|trans }}</div>
            </div>
        </div>
    </div>

    <div class="grid-70 mobile-grid-100 grid-row mobile-grid-row">
        <div id="content"></div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/admin/projects.js')  }}"></script>
    <script src="{{ asset('js/admin/groups.js')    }}"></script>
    <script src="{{ asset('js/admin/templates.js') }}"></script>
    <script src="{{ asset('js/admin/states.js')    }}"></script>
    <script src="{{ asset('js/admin/fields.js')    }}"></script>

{% endblock %}
