{% import 'macro.html.twig' as macro %}

<div class="grid-row">
    <div class="grid-100">
        <button type="button" id="btn-edit">{{ 'button.edit'|trans }}</button>
        {% if can.delete %}
            <button type="button" id="btn-delete">{{ 'button.delete'|trans }}</button>
        {% endif %}
    </div>
</div>

<div class="grid-row">
    <div class="grid-100">
        <fieldset>
            {{ macro.row('project.name'|trans, project.name) }}
            {{ macro.row('project.start_time'|trans, project.createdAt|date('Y-m-d')) }}
            {{ macro.row('project.status'|trans, project.suspended ? 'project.suspended'|trans|lower : 'project.active'|trans|lower) }}
            {{ macro.row('description'|trans, project.description) }}
        </fieldset>
    </div>
</div>

<script>

    $(function() {

        var reloadTab = function() {
            var $tabs = $('#tabs-project');
            var current = $tabs.tabs('option', 'active');
            $tabs.tabs('load', current);
        };

        // "Edit" button.
        $('#btn-edit').click(function() {
            eTraxis.modal({
                url: '{{ path('admin_edit_project', {'id': project.id}) }}',
                title: '{{ project.name }}',
                success: function() {
                    $(document).trigger('admin.project.edited', {{ project.id }});
                    reloadTab();
                    return true;
                }
            });
        });

        // "Delete" button.
        $('#btn-delete').click(function() {
            eTraxis.confirm('{{ 'button.delete'|trans }}', '{{ 'project.confirm.delete'|trans }}', function() {
                $.post('{{ path('admin_delete_project', {'id': project.id}) }}', function() {
                    $(document).trigger('admin.project.deleted', {{ project.id }});
                });
            });
        });
    });

</script>
