<!DOCTYPE html>
<html lang="{{ (app.user ? app.user.locale : locale) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>{{ title | default('eTraxis') }}</title>

    {% for css in ['css/libs.css', 'css/%s/etraxis.css'] %}
        {%- set css = css
                | format(app.user ? app.user.theme : theme)
                | replace(app.environment == 'dev' ? {} : {'.css': '.min.css'})
        -%}
        <link href="{{ asset(css) }}" rel="stylesheet">
    {% endfor %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')         }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-72x72.png')   }}" sizes="72x72">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-114x114.png') }}" sizes="114x114">

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <![endif]-->
</head>
<body>
    <nav>
        <div class="grid-container grid-parent">
            {% spaceless %}

                <span class="fern"><a href="{{ path('homepage') }}"><img src="{{ asset('images/fern.png') }}"></a></span>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <span class="fern">{{ app.user.fullname }}</span>
                {% endif %}

                {% block menu %}{% endblock %}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="#" id="menu_logout">{{ 'security.log_out'|trans }}</a>
                {% else %}
                    <a href="{{ path('login') }}">{{ 'security.log_in'|trans }}</a>
                {% endif %}

            {% endspaceless %}
        </div>
    </nav>

    <main class="grid-container grid-parent">

        {% for flash in app.session.flashbag.get('notice') %}
            <div class="grid-row">
                <div class="grid-100">
                    <div class="highlight">{{ flash }}</div>
                </div>
            </div>
        {% endfor %}

        {% for flash in app.session.flashbag.get('error') %}
            <div class="grid-row">
                <div class="grid-100">
                    <div class="error">{{ flash }}</div>
                </div>
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="grid-container">
            <a href="https://www.etraxis.com/" target="_blank">Copyright &copy; Artem Rodygin</a>
        </div>
    </footer>

    {% if csrf is defined %}
        <input type="hidden" id="__etraxis_token" value="{{ csrf.token('').value }}">
    {% endif %}

    <div id="__etraxis_modal" class="ui-helper-hidden"></div>

    {% for js in ['js/libs.js', 'js/etraxis-%s.js', 'js/etraxis.js'] %}
        {%- set js = js
                | format(app.user ? app.user.locale : locale)
                | replace(app.environment == 'dev' ? {} : {'.js': '.min.js'})
        -%}
        <script src="{{ asset(js) }}"></script>
    {% endfor %}

    <script>
        $(function() {

            eTraxis.initAjax();

            $('body').initUI();

            $('#menu_logout').click(function() {
                eTraxis.confirm('{{ 'security.log_out'|trans }}', '{{ 'security.confirm_exit'|trans }}', function() {
                    location.href = '{{ path('logout') }}';
                });
                return false;
            });
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>
