<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title | default('eTraxis') }}</title>

    <link href="{{ asset('css/libs.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/' ~ theme ~ '/etraxis.min.css') }}" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png')         }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-72x72.png')   }}" sizes="72x72">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-114x114.png') }}" sizes="114x114">

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <![endif]-->
</head>
<body>
    <nav>
        <div class="container">
            {% spaceless %}

                <span class="fern"><a href="{{ path('homepage') }}"><img src="{{ asset('images/fern.png') }}"></a></span>

                {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <span class="fern">{{ app.user.fullname }}</span>
                {% endif %}

                {% block menu %}{% endblock %}

                {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="#" id="menu_logout">{{ 'security.log_out'|trans }}</a>
                {% else %}
                    <a href="{{ path('login') }}">{{ 'security.log_in'|trans }}</a>
                {% endif %}

            {% endspaceless %}
        </div>
    </nav>

    <div class="container">
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <a href="https://www.etraxis.com/" target="_blank">Copyright &copy; Artem Rodygin</a>
    </footer>

    <div id="__etraxis_modal" class="ui-helper-hidden"></div>

    <script src="{{ asset('js/libs.min.js') }}"></script>
    <script src="{{ asset('js/etraxis-' ~ locale ~ '.min.js') }}"></script>
    <script src="{{ asset('js/etraxis.min.js') }}"></script>

    <script>
        $(function() {

            $('body').initUI();

            $('#menu_logout').click(function() {
                eTraxis.confirm('{{ 'security.log_out'|trans }}', '{{ 'security.confirm_exit'|trans }}', function() {
                    location.href = '{{ path('logout') }}';
                });
                return false;
            });
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>
