{% block form_start %}
    <form name="{{ name }}" method="{{ method }}" action="{{ action }}" {{ multipart ? 'enctype="multipart/form-data"' }}>
        <input type="submit" class="hidden">
{% endblock form_start %}

{% block form_row %}
    <div class="grid-container grid-parent grid-row">
        {# Checkboxes have a different layout to render #}
        {% if checked is defined %}
            <div class="grid-66 prefix-33">
                <input type="hidden" name="{{ form.vars.full_name }}" value="0">
                {{ form_widget(form) }}
                {% if form.vars.disabled %}
                    <label for="{{ form.vars.id }}" class="ui-state-disabled">{{ label|trans }}</label>
                {% else %}
                    <label for="{{ form.vars.id }}">{{ label|trans }}</label>
                {% endif %}
            </div>
        {% else %}
            <div class="grid-33">
                <label for="{{ form.vars.id }}">{{ label|trans }}:</label>
            </div>
            <div class="grid-66">
                {% set class = form.vars.disabled ? 'grid-100 mobile-grid-100 ui-state-disabled' : 'grid-100 mobile-grid-100' %}
                {% if form.vars.required %}
                    {{ form_widget(form, {'attr': {'class': class, 'placeholder': 'field.required'}}) }}
                {% else %}
                    {{ form_widget(form, {'attr': {'class': class}}) }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock form_row %}

{% block form_end %}
        {{ form_widget(form) }}
    </form>
{% endblock form_end %}
