{% form_theme form 'form.html.twig' %}

<div id="dlg-user" class="dialog">
    {{ form_start(form) }}
    <fieldset>
        {{ form_row(form.username) }}
        {{ form_row(form.fullname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.description) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirmation) }}
        {{ form_row(form.admin) }}
        {{ form_row(form.disabled) }}
    </fieldset>
    {{ form_end(form) }}
</div>
