{% extends 'admin/base.html.twig' %}

{% import "macro.html.twig" as macro %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column full-width">
                <button type="button" id="btn-create">{{ 'button.create'|trans }}</button>
                <span class="buttonset">
                    <button type="button" id="btn-disable" disabled="disabled">{{ 'button.disable'|trans }}</button>
                    <button type="button" id="btn-enable" disabled="disabled">{{ 'button.enable'|trans }}</button>
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column full-width">
                <table id="users" class="cell-border hover" data-src="{{ path('admin_users_ajax') }}">
                    <thead>
                        <tr>
                            <th>{{ 'user.username'|trans }}</th>
                            <th>{{ 'user.fullname'|trans }}</th>
                            <th>{{ 'user.email'|trans }}</th>
                            <th>{{ 'permissions'|trans }}</th>
                            <th>{{ 'security.authentication'|trans }}</th>
                            <th>{{ 'description'|trans }}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    {% include 'admin/users/dlg_user.html.twig' %}

{% endblock %}

{% block scripts %}

    <script>

        $(function() {

            // Users list.
            var $table = $('#users').table({
                checkboxes: 'users'
            });

            // Resets state of dependent controls.
            var resetState = function() {

                var checked = $('input[name="users"]:checked', $table).length;

                // Some buttons are disabled if no checkbox is ticked.
                $('#btn-disable').disable(checked == 0);
                $('#btn-enable').disable(checked == 0);

                // If no checkbox is ticked, untick "Select all" checkbox.
                if (checked == 0) {
                    $('thead input[type="checkbox"]', $table).prop('checked', false);
                }

                // If all checkboxes are ticked, tick "Select all" checkbox.
                if (checked == $table.api().page.len()) {
                    $('thead input[type="checkbox"]', $table).prop('checked', true);
                }
            };

            // Table has been redrawn.
            $table.on('draw.dt', resetState);

            // Click on a checkbox in the list.
            $table.on('click', 'input[type="checkbox"]', resetState);

            // Click on a user in the list.
            $table.on('click', 'tbody tr', function() {
                window.location.assign('{{ path('admin_users') }}' + $(this).data('id'));
            });

            // "Create" button.
            $('#btn-create').click(function() {
                $('#dlg-user').modal({
                    title: '{{ 'user.new'|trans }}',
                    success: function() {
                        $table.api().draw(false);
                        return true;
                    }
                });
            });

            // "Disable" button.
            $('#btn-disable').click(function() {

                var ids = [];

                $('input[name="users"]:checked', $table).each(function() {
                    if ($(this).val() != {{ app.user.id }}) {
                        ids.push($(this).val());
                    }
                });

                if (ids.length) {
                    $.post('{{ path('admin_disable_user') }}', { ids: ids }, function() {
                        $table.api().draw(false);
                    });
                }
            });

            // "Enable" button.
            $('#btn-enable').click(function() {

                var ids = [];

                $('input[name="users"]:checked', $table).each(function() {
                    ids.push($(this).val());
                });

                if (ids.length) {
                    $.post('{{ path('admin_enable_user') }}', { ids: ids }, function() {
                        $table.api().draw(false);
                    });
                }
            });
        });

    </script>

{% endblock %}
