{% extends 'admin/base.html.twig' %}

{% import "macro.html.twig" as macro %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column full-width">
                <button type="button" id="btn-create">{{ 'button.create'|trans }}</button>
                <span class="buttonset">
                    <button type="button" id="btn-disable" disabled="disabled">{{ 'button.disable'|trans }}</button>
                    <button type="button" id="btn-enable" disabled="disabled">{{ 'button.enable'|trans }}</button>
                </span>
                <button type="button" id="btn-export">{{ 'button.export'|trans }}</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column full-width">
                <table id="users" class="cell-border hover" data-src="{{ path('admin_users_list') }}">
                    <thead>
                        <tr>
                            <th>{{ 'user.username'|trans }}</th>
                            <th>{{ 'user.fullname'|trans }}</th>
                            <th>{{ 'user.email'|trans }}</th>
                            <th>{{ 'permissions'|trans }}</th>
                            <th>{{ 'security.authentication'|trans }}</th>
                            <th>{{ 'description'|trans }}</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th><input type="text"></th>
                            <th><input type="text"></th>
                            <th><input type="text"></th>
                            <th>
                                <select>
                                    <option value="admin">{{ 'role.administrator'|trans }}</option>
                                    <option value="user">{{ 'role.user'|trans }}</option>
                                </select>
                            </th>
                            <th>
                                <select>
                                    <option value="etraxis">eTraxis</option>
                                    <option value="ldap">LDAP</option>
                                </select>
                            </th>
                            <th><input type="text"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $(function() {

            // Users list.
            var $table = $('#users').table({
                checkboxes: 'users'
            });

            // Resets state of dependent controls.
            var resetState = function() {

                var checked = $('input[name="users"]:checked', $table).length;

                // Some buttons are disabled if no checkbox is ticked.
                $('#btn-disable').disable(checked == 0);
                $('#btn-enable').disable(checked == 0);

                // If no checkbox is ticked, untick "Select all" checkbox.
                if (checked == 0) {
                    $('thead input[type="checkbox"]', $table).prop('checked', false);
                }

                // If all checkboxes are ticked, tick "Select all" checkbox.
                if (checked == $table.api().page.len()) {
                    $('thead input[type="checkbox"]', $table).prop('checked', true);
                }
            };

            // Table has been redrawn.
            $table.on('draw.dt', resetState);

            // Click on a checkbox in the list.
            $table.on('click', 'input[type="checkbox"]', resetState);

            // Click on a user in the list.
            $table.on('click', 'tbody tr', function() {
                window.location.assign('{{ path('admin_users') }}' + $(this).data('id'));
            });

            // "Create" button.
            $('#btn-create').click(function() {
                eTraxis.modal({
                    url: '{{ path('admin_dlg_new_user') }}',
                    title: '{{ 'user.new'|trans }}',
                    success: function() {
                        $table.api().draw(false);
                        return true;
                    }
                });
            });

            // "Disable" button.
            $('#btn-disable').click(function() {

                var ids = [];

                $('input[name="users"]:checked', $table).each(function() {
                    if ($(this).val() != {{ app.user.id }}) {
                        ids.push($(this).val());
                    }
                });

                if (ids.length) {
                    $.post('{{ path('admin_disable_user') }}', { ids: ids }, function() {
                        $table.api().draw(false);
                    });
                }
            });

            // "Enable" button.
            $('#btn-enable').click(function() {

                var ids = [];

                $('input[name="users"]:checked', $table).each(function() {
                    ids.push($(this).val());
                });

                if (ids.length) {
                    $.post('{{ path('admin_enable_user') }}', { ids: ids }, function() {
                        $table.api().draw(false);
                    });
                }
            });

            // "Export" button.
            $('#btn-export').click(function() {
                eTraxis.modal({
                    url: '{{ path('dlg_export') }}',
                    title: '{{ 'button.export'|trans }}',
                    success: function() {
                        var params = $('form').serialize() + '&' + $.param($table.api().ajax.params());
                        window.location.assign('{{ path('admin_users_csv') }}?' + params);
                        return true;
                    }
                });
            });
        });

    </script>

{% endblock %}
