<div class="columns">
    <div class="column full-width">
        <button type="button" id="btn-back">{{ 'button.back'|trans }}</button>
        <span class="buttonset">
            {% if user.id != app.user.id %}
            <button type="button" id="btn-disable">{{ user.disabled ? 'button.enable'|trans : 'button.disable'|trans }}</button>
            {% endif %}
            {% if not user.accountNonLocked %}
            <button type="button" id="btn-unlock">{{ 'button.unlock'|trans }}</button>
            {% endif %}
        </span>
    </div>
</div>

<div class="columns">
    <div class="column full-width">
        <fieldset>
            <div class="columns">
                <div class="column one-fourth">{{ 'user.username'|trans }}:</div>
                <div class="column three-fourths">{{ user.username }}</div>
            </div>
            <div class="columns">
                <div class="column one-fourth">{{ 'user.fullname'|trans }}:</div>
                <div class="column three-fourths">{{ user.fullname }}</div>
            </div>
            <div class="columns">
                <div class="column one-fourth">{{ 'user.email'|trans }}:</div>
                <div class="column three-fourths">{{ user.email }}</div>
            </div>
            <div class="columns">
                <div class="column one-fourth">{{ 'description'|trans }}:</div>
                <div class="column three-fourths">{{ user.description }}</div>
            </div>
            <div class="columns">
                <div class="column one-fourth">{{ 'permissions'|trans }}:</div>
                <div class="column three-fourths">{{ user.admin ? 'role.administrator'|trans|lower : 'role.user'|trans|lower }}</div>
            </div>
            <div class="columns">
                <div class="column one-fourth">{{ 'user.status'|trans }}:</div>
                {% if user.accountNonLocked %}
                <div class="column three-fourths">{{ user.disabled ? 'user.disabled'|trans|lower : 'user.enabled'|trans|lower }}</div>
                {% else %}
                <div class="column three-fourths">{{ 'user.locked'|trans|lower }}</div>
                {% endif %}
            </div>
        </fieldset>
    </div>
</div>

<script>
    $(function() {

        // "Back" button.
        $('#btn-back').click(function() {
            window.location.assign('{{ path('admin_users') }}');
        });

        // "Disable"/"Enable" button.
        $('#btn-disable').click(function() {
            $.post('{{ path(user.disabled ? 'admin_enable_user' : 'admin_disable_user', { 'id': user.id }) }}', function() {
                window.location.assign('{{ path('admin_view_user', { 'id': user.id }) }}');
            });
        });

        // "Unlock" button.
        $('#btn-unlock').click(function() {
            $.post('{{ path('admin_unlock_user', { 'id': user.id }) }}', function() {
                window.location.assign('{{ path('admin_view_user', { 'id': user.id }) }}');
            });
        });
    });
</script>
