{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="grid-row">
        <div class="grid-100">
            <div class="tabs" id="tabs-user" data-tab="{{ tab }}" data-user-id="{{ user.id }}">
                <ul>
                    <li><a href="{{ path('admin_tab_user_details', {'id': user.id}) }}">{{ user.fullname }}</a></li>
                    <li><a href="{{ path('admin_tab_user_groups', {'id': user.id}) }}">{{ 'groups'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/admin/user.js') }}"></script>

{% endblock %}
