{% import 'macro.html.twig' as macro %}

<div class="grid-row">
    <div class="grid-100">
        <button type="button" id="btn-edit">{{ 'button.edit'|trans }}</button>
        <button type="button" id="btn-delete">{{ 'button.delete'|trans }}</button>
    </div>
</div>

<div class="grid-row">
    <div class="grid-100">
        <fieldset>
            {{ macro.row('group.name'|trans, group.name) }}
            {% if group.global %}
                {{ macro.row('group.type'|trans, 'group.global'|trans|lower) }}
            {% else %}
                {{ macro.row('group.type'|trans, 'group.local'|trans|lower) }}
                {{ macro.row('project'|trans, group.project.name) }}
            {% endif %}
            {{ macro.row('description'|trans, group.description) }}
        </fieldset>
    </div>
</div>

<script>

    $(function() {

        var reloadTab = function() {
            var $tabs = $('#tabs-group');
            var current = $tabs.tabs('option', 'active');
            $tabs.tabs('load', current);
        };

        // "Edit" button.
        $('#btn-edit').click(function() {
            eTraxis.modal({
                url: '{{ path('admin_edit_group', {'id': group.id}) }}',
                title: '{{ group.name }}',
                success: function() {
                    $(document).trigger('admin.group.edited', {{ group.id }});
                    reloadTab();
                    return true;
                }
            });
        });

        // "Delete" button.
        $('#btn-delete').click(function() {
            eTraxis.confirm('{{ 'button.delete'|trans }}', '{{ 'group.confirm.delete'|trans }}', function() {
                $.post('{{ path('admin_delete_group', {'id': group.id}) }}', function() {
                    $(document).trigger('admin.group.deleted', {{ group.id }});
                });
            });
        });
    });

</script>
