{% import 'macro.html.twig' as macro %}

<div class="grid-row">
    <div class="grid-100">
        <button type="button" id="btn-back">{{ 'button.back'|trans }}</button>
        <button type="button" id="btn-edit">{{ 'button.edit'|trans }}</button>
        <button type="button" id="btn-delete">{{ 'button.delete'|trans }}</button>
    </div>
</div>

<div class="grid-row">
    <div class="grid-100">
        <fieldset>
            {{ macro.row('group.name'|trans, group.name) }}
            {% if group.global %}
                {{ macro.row('group.type'|trans, 'group.global'|trans) }}
            {% else %}
                {{ macro.row('group.type'|trans, 'group.local'|trans) }}
                {{ macro.row('project'|trans, group.project.name) }}
            {% endif %}
            {{ macro.row('description'|trans, group.description) }}
        </fieldset>
    </div>
</div>

<script>

    $(function() {

        function reloadTab() {
            var $tabs = $('#tabs-group');
            var current = $tabs.tabs('option', 'active');
            $tabs.tabs('load', current);
        }

        // Update tab title - group name could be changed.
        var $tabs = $('#tabs-group');
        $('ul.ui-tabs-nav li[tabindex=0] a', $tabs).text('{{ group.name }}');

        // "Back" button.
        $('#btn-back').click(function() {
            window.location.assign('{{ path('admin_groups') }}');
        });

        // "Edit" button.
        $('#btn-edit').click(function() {
            eTraxis.modal({
                url: '{{ path('admin_dlg_edit_group', {'id': group.id}) }}',
                title: '{{ group.name }}',
                success: function() {
                    reloadTab();
                    return true;
                }
            });
        });

        // "Delete" button.
        $('#btn-delete').click(function() {
            eTraxis.confirm('{{ 'button.delete'|trans }}', '{{ 'group.confirm.delete'|trans }}', function() {
                $.post('{{ path('admin_delete_group', {'id': group.id}) }}', function() {
                    window.location.assign('{{ path('admin_groups') }}');
                });
            });
        });
    });

</script>
