{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column full-width">

                {{ form_start(form) }}
                <fieldset>
                    <div class="container">

                        <div class="columns control">
                            <div class="column one-third label">
                                {{ form_label(form.password) }}:
                            </div>
                            <div class="column one-third">
                                {{ form_widget(form.password, { attr: { class: 'full-width', placeholder: 'required'|trans } }) }}
                            </div>
                        </div>

                        <div class="columns control">
                            <div class="column one-third label">
                                {{ form_label(form.confirmation) }}:
                            </div>
                            <div class="column one-third">
                                {{ form_widget(form.confirmation, { attr: { class: 'full-width', placeholder: 'required'|trans } }) }}
                            </div>
                        </div>

                        <div class="columns control">
                            <div class="column one-third centered">
                                <input type="submit" value="{{ 'button.ok'|trans }}">
                            </div>
                        </div>

                    </div>
                </fieldset>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
