<button type="button" onclick="RecordApp.back()">{{ 'button.back'|trans }}</button>

<span class="buttonset">
    {% if previous %}
        <a href="{{ url('web_view_record', { 'id': previous }) }}" class="button">
            <span class="fa fa-arrow-up"></span>
        </a>
    {% else %}
        <button type="button" disabled>
            <span class="fa fa-arrow-up"></span>
        </button>
    {% endif %}

    {% if next %}
        <a href="{{ url('web_view_record', { 'id': next }) }}" class="button">
            <span class="fa fa-arrow-down"></span>
        </a>
    {% else %}
        <button type="button" disabled>
            <span class="fa fa-arrow-down"></span>
        </button>
    {% endif %}
</span>

{% if is_granted(constant('eTraxis\\Voter\\RecordVoter::REASSIGN'), record) %}
    {% set responsibles = record.allowedResponsibles %}
    {% if responsibles|length != 0 %}
        <span class="dropdown">
            <button type="button">{{ 'record.assign'|trans }}</button>
            <ul>
                {% for responsible in responsibles %}
                    <li><a onclick="RecordApp.assign({{ record.id }}, {{ responsible.id }})">{{ responsible.fullname }}</a></li>
                {% endfor %}
            </ul>
        </span>
    {% endif %}
{% endif %}

{% if is_granted(constant('eTraxis\\Voter\\RecordVoter::POSTPONE'), record) %}
    <button type="button" onclick="RecordApp.postpone({{ record.id }})">{{ 'record.postpone'|trans }}</button>
{% endif %}

{% if is_granted(constant('eTraxis\\Voter\\RecordVoter::RESUME'), record) %}
    <button type="button" onclick="RecordApp.resume({{ record.id }})">{{ 'record.resume'|trans }}</button>
{% endif %}

{% if is_granted(constant('eTraxis\\Voter\\RecordVoter::DELETE'), record) %}
    <button type="button" onclick="RecordApp.delete({{ record.id }})">{{ 'button.delete'|trans }}</button>
{% endif %}
