{% extends 'web/base.html.twig' %}

{% block content %}

    <input type="hidden" id="record-id" value="{{ record.id }}">

    <div class="grid-100 grid-row">
        <div class="tabs" id="tabs-record" data-tab="{{ tab }}">
            <ul>
                <li data-init="RecordApp.initDetails()">
                    <a href="{{ path('web_tab_record_details', {'id': record.id}) }}">{{ record.recordId }}</a>
                </li>
                <li data-init="RecordApp.initHistory()">
                    <a href="{{ path('web_tab_record_history', {'id': record.id}) }}">{{ 'record.history'|trans }} ({{ record.history|length }})</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('js/web/record.js') }}"></script>

{% endblock %}
