{% extends 'email.html.twig' %}

{% block message %}

    <p>You have requested to reset your password at <a href="{{ url('homepage') }}">{{ url('homepage') }}</a>. Please click the link below to do it:</p>

    <p><a href="{{ url('reset_password', {'token': token}) }}">{{ url('reset_password', {'token': token}) }}</a></p>

    <p>Please note that the link expires in 2 hours.</p>

    <p>This was requested from {{ ip }} IP address. If you have not requested it, please disregard this email.</p>

{% endblock %}
