{% extends 'base.html.twig' %}

{% block menu %}

    <a href="{{ path('web_records') }}">{{ 'records'|trans }}</a>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a href="{{ path('settings') }}">{{ 'settings'|trans }}</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}">{{ 'administration'|trans }}</a>
    {% endif %}

{% endblock %}
