<div class="grid-container grid-parent grid-row">

    <div class="grid-50">
        <fieldset>
            <legend>{{ 'groups'|trans }}</legend>
            <select id="group" onchange="TemplatesApp.loadPermissions({{ template.id }})" size="20" title="{{ 'groups'|trans }}" class="grid-100 mobile-grid-100">
                <option value="{{ role.author }}" selected>{{ 'role.author'|trans }} ({{ 'role'|trans|lower }})</option>
                <option value="{{ role.responsible }}">{{ 'role.responsible'|trans }} ({{ 'role'|trans|lower }})</option>
                <option value="{{ role.registered }}">{{ 'role.registered'|trans }} ({{ 'role'|trans|lower }})</option>
                {% if locals|length > 0 %}
                    <option disabled></option>
                    {% for group in locals %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                {% endif %}
                {% if globals|length > 0 %}
                    <option disabled></option>
                    {% for group in globals %}
                        <option value="{{ group.id }}">{{ group.name }} ({{ 'group.global'|trans|lower }})</option>
                    {% endfor %}
                {% endif %}
            </select>
        </fieldset>
    </div>

    <div class="grid-50">
        <fieldset>
            <legend>{{ 'permissions'|trans }}</legend>
            {% for key, value in permissions %}
                <div class="grid-100">
                    <input type="checkbox" id="{{ value|replace('.', '_') }}" class="permissions" value="{{ key }}">
                    <label for="{{ value|replace('.', '_') }}">{{ value|trans|lower }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <div class="grid-row">
            <button type="button" onclick="TemplatesApp.savePermissions({{ template.id }})">{{ 'button.save'|trans }}</button>
            <button type="button" onclick="TemplatesApp.selectAllPermissions()">{{ 'button.select_all'|trans }}</button>
        </div>
    </div>

</div>
