{% import 'macro.html.twig' as macro %}

<div class="grid-row">
    <div class="grid-100">
        <button type="button" id="btn-edit">{{ 'button.edit'|trans }}</button>
        {% if can.lock %}
            <button type="button" id="btn-lock">{{ 'button.lock'|trans }}</button>
        {% endif %}
        {% if can.unlock %}
            <button type="button" id="btn-unlock">{{ 'button.unlock'|trans }}</button>
        {% endif %}
        {% if can.delete %}
            <button type="button" id="btn-delete">{{ 'button.delete'|trans }}</button>
        {% endif %}
    </div>
</div>

<div class="grid-row">
    <div class="grid-100">
        <fieldset>
            {{ macro.row('template.name'|trans, template.name) }}
            {{ macro.row('template.prefix'|trans, template.prefix) }}
            {{ macro.row('template.critical_age'|trans, template.criticalAge) }}
            {{ macro.row('template.frozen_time'|trans, template.frozenTime) }}
            {{ macro.row('description'|trans, template.description) }}
            {{ macro.row('template.guest_access'|trans, template.hasGuestAccess ? 'button.yes'|trans|lower : 'button.no'|trans|lower) }}
            {{ macro.row('template.status'|trans, template.locked ? 'template.locked'|trans|lower : 'template.active'|trans|lower) }}
        </fieldset>
    </div>
</div>

<script>

    $(function() {

        var reloadTab = function() {
            var $tabs = $('#tabs-template');
            var current = $tabs.tabs('option', 'active');
            $tabs.tabs('load', current);
        };

        // "Edit" button.
        $('#btn-edit').click(function() {
            eTraxis.modal({
                url: '{{ path('admin_edit_template', {'id': template.id}) }}',
                title: '{{ template.name }}',
                success: function() {
                    $(document).trigger('admin.template.edited', {{ template.id }});
                    reloadTab();
                    return true;
                }
            });
        });

        // "Delete" button.
        $('#btn-delete').click(function() {
            eTraxis.confirm('{{ 'button.delete'|trans }}', '{{ 'template.confirm.delete'|trans }}', function() {
                $.post('{{ path('admin_delete_template', {'id': template.id}) }}', function() {
                    $(document).trigger('admin.template.deleted', {{ template.id }});
                });
            });
        });

        // "Lock" button.
        $('#btn-lock').click(function() {
            $.post('{{ path('admin_lock_template', {'id': template.id}) }}', function() {
                $(document).trigger('admin.template.locked', {{ template.id }});
                reloadTab();
            });
        });

        // "Unlock" button.
        $('#btn-unlock').click(function() {
            $.post('{{ path('admin_unlock_template', {'id': template.id}) }}', function() {
                $(document).trigger('admin.template.unlocked', {{ template.id }});
                reloadTab();
            });
        });
    });

</script>
