{% form_theme form 'form.html.twig' %}

<div class="dialog">
    {{ form_start(form) }}
    <fieldset>
        {{ form_row(form.name) }}

        {% if form.type is defined %}
            {{ form_row(form.type) }}
        {% endif %}

        {# Number-specific inputs #}
        {% if form.asNumber is defined %}
            {{ form_row(form.asNumber.minValue) }}
            {{ form_row(form.asNumber.maxValue) }}
            {{ form_row(form.asNumber.defaultValue) }}
        {% endif %}

        {# Decimal-specific inputs #}
        {% if form.asDecimal is defined %}
            {{ form_row(form.asDecimal.minValue) }}
            {{ form_row(form.asDecimal.maxValue) }}
            {{ form_row(form.asDecimal.defaultValue) }}
        {% endif %}

        {# String-specific inputs #}
        {% if form.asString is defined %}
            {{ form_row(form.asString.maxLength) }}
            {{ form_row(form.asString.defaultValue) }}
        {% endif %}

        {# Text-specific inputs #}
        {% if form.asText is defined %}
            {{ form_row(form.asText.maxLength) }}
            {{ form_row(form.asText.defaultValue) }}
        {% endif %}

        {# Checkbox-specific inputs #}
        {% if form.asCheckbox is defined %}
            {{ form_row(form.asCheckbox.defaultValue) }}
        {% endif %}

        {# List-specific inputs #}
        {% if form.asList is defined %}
        {% endif %}

        {# Record-specific inputs #}
        {% if form.asRecord is defined %}
        {% endif %}

        {# Date-specific inputs #}
        {% if form.asDate is defined %}
            {{ form_row(form.asDate.minValue) }}
            {{ form_row(form.asDate.maxValue) }}
            {{ form_row(form.asDate.defaultValue) }}
        {% endif %}

        {# Duration-specific inputs #}
        {% if form.asDuration is defined %}
            {{ form_row(form.asDuration.minValue) }}
            {{ form_row(form.asDuration.maxValue) }}
            {{ form_row(form.asDuration.defaultValue) }}
        {% endif %}

        {# Shared inputs #}
        {{ form_row(form.description) }}

        {% if form.required is defined %}
            {{ form_row(form.required) }}
        {% endif %}

        {{ form_row(form.guestAccess) }}
        {{ form_row(form.showInEmails) }}
    </fieldset>
    {{ form_end(form) }}
</div>
