{% import 'macro.html.twig' as macro %}

<div class="grid-100 grid-row">
    <button type="button" onclick="FieldsApp.edit({{ field.id }})">{{ 'button.edit'|trans }}</button>
    {% if is_granted(constant('eTraxis\\Voter\\FieldVoter::DELETE'), field) %}
        <button type="button" onclick="FieldsApp.delete({{ field.id }})">{{ 'button.delete'|trans }}</button>
    {% endif %}
</div>

<div class="grid-100 grid-row">
    <div class="fieldset">
        {{ macro.row('field.name'|trans, field.name) }}
        {{ macro.row('field.type'|trans, types[field.type]|trans|lower) }}

        {% block details %}{% endblock %}

        {{ macro.row('description'|trans, field.description) }}

        {% if (field.type != 'checkbox') %}
            {{ macro.row('field.required'|trans, field.isRequired ? 'button.yes'|trans|lower : 'button.no'|trans|lower) }}
        {% endif %}
    </div>
</div>
